.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.6); /* gray */
  opacity: 0;
  pointer-events: none; /* prevent clicks when hidden */
  transition: opacity 0.3s ease;
  z-index: 999;
}

.cart-overlay.show {
  opacity: 1;
  pointer-events: auto; /* clickable when visible */
}

/* Modal drawer */
.cart-modal {
  position: fixed;
  top: 0;
  left: -450px; /* start off-screen */
  width: 450px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  padding: 16px;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.cart-modal.open {
  left: 0; /* slide in */
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.close-btn {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.cart-items {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 35px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin-right: 15px;
  /* margin: 8px 0; */
  /* border-bottom: 1px solid #eee; */
}

.button-group {
  display: flex; /* Makes the container a flex container */
  justify-content: space-around; /* Distributes space around items */
  gap: 10px; 
}

/* .remove-btn {
  border: none;
  background: none;
  font-size: 17px;
  cursor: pointer;
} */

.remove-btn, .add-btn {
  padding: 4px 8px;
  border: none;
  background-color: #d9534f;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}

.remove-btn:hover, .add-btn:hover {
  background-color: #c9302c;
}

.cart-item-qty-price{
  display: flex; /* Makes the container a flex container */
  justify-content: space-around; /* Distributes space around items */
  gap: 10px; 
}

.clear-btn{
  margin-bottom: 10px;
  margin-top: 20px;
}

/* .clear-btn:hover {
  margin-bottom: 10px;
}*/

/* .cart-header h3{
  text-align: center;
  line-height: 10px;
}

.total-header{
  margin-top: 0px;
} */
