@import '../styles/global.css';
@import '../styles/animations.css';

body {
  background-image: url('../images/imperialdragongold.png');
  background-color: rgb(153, 3, 3);
  background-size: 50% 95%;
  background-position: center 45px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}