.navbar {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: orange;
  justify-content: center;
  position: relative;
  gap: 5px; 
  align-items: center;
}

/*makes navigation bar cover the entire width of the page */
body{
  margin: 0;
  padding: 0;
}

/* styles all buttons in navigation bar*/
.navbar button{
  background-color: orange;
  color: white;
  border: none;
}

/* designs the cart counter*/
.cart-counter {
  display: inline-block;
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 1px 2px;
  font-size: 7px;
  font-weight: bold;
}
