.row {
  display: flex;
  gap: 20px; 
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 40px; 
  text-align: center;
}

.row button {
  background-color: tan;
  width: 220px; 
  height: 215px;
  padding: 30px;
  border-radius: 10px; 
  border: 2px solid black;
}

.row button:hover {
  cursor: pointer;
  border: 2px solid red;
}

.row img {
  width: 165px; 
  height: 150px;
  margin: auto;
}

.row p {
  margin-top: 0px;
}

h2 {
  text-align: center;
}
